@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

html, body {
  overflow-x: hidden; /* Mencegah scroll ke samping paksa */
  width: 100%;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}
